.article-container {
    width: 80%;
    height: fit-content;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
}

.article-title {
    font-size: 2em;
    color: #A80000;
    margin-bottom: 10px;
}

.article-date {
    font-size: 1em;
    color: #666;
    margin-bottom: 20px;
}

.article-text {
    font-size: 1.2em;
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.article-image {
    width: 200px;
    height: auto;
    border-radius: 10px;
    float: right;
    margin: 20px;

}